#App{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
/* 
Rosa Neon: RGB(255, 89, 232)
Morado Neon: RGB(140, 35, 255)
Azul Neon: RGB(29, 218, 255)
*/
/* NEON FONT */
h1, h2, h3 {
    text-shadow: 
        0 0 15px #fff, 
        0 0 25px #ffffff ; 
    -webkit-text-fill-color: RGB(255, 89, 232);
    -webkit-text-stroke-color:#fff;
    -webkit-text-stroke-width:0.2px; 
}
h2{
    -webkit-text-fill-color: RGB(29, 218, 255);
}
h3{
    -webkit-text-fill-color: RGB(140, 35, 255);
}

input[type=text], [type=password], [type=search] {
    outline: none;
    border: none;
    text-align: center;
    color: white;
    background-color: transparent;
    padding: 5px;
}

input[type=submit], [type=button]{
    border-radius: 25px;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: RGB(140, 35, 255);
    box-shadow: 
        0 0 15px RGB(255, 255, 255), 
        0 0 25px RGB(140, 35, 255); 
    -webkit-box-fill-color: RGB(255, 255, 255);
    -webkit-box-stroke-color:RGB(255, 255, 255);
    -webkit-box-stroke-width:0.5px;
}
input[type=submit]:hover{
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: RGB(140, 35, 255);
    box-shadow: 
        0 0 15px RGB(255, 255, 255), 
        0 0 25px RGB(255, 255, 255); 
    -webkit-box-fill-color: RGB(255, 255, 255);
    -webkit-box-stroke-color:RGB(255, 255, 255);
    -webkit-box-stroke-width:0.5px;
}

.header{
    grid-column: 1 / 4;
    height: 100%;
}
.form{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}