.container{
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;   
    align-items: center;
    
}
img{
    width: 80%;
    height: 80%;
}
.title{
    margin-left: 5px; 
}