.container{
    display: grid;
    grid-template-columns: 15%, 70%, 15%;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:10%;
    color:white
}

.defaultData{
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}
p{
    font-size: .65em;
    text-align: center;
}

.invisible{
    visibility: hidden;
}
.errors{
    font-size: .7em;
    visibility: visible;
    color: red;
}